body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.login-container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
}

.album-button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.album-options {
  display: none;
  margin-top: 10px;
}
.album-container:hover .album-button {
  background-color: #45a049;
}
.album-container {
  margin-bottom: 20px;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

table, th, td { /*had to remove the .dataframe class stuff b/c not with stylers */
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
/* tr:nth-child(2)     {color:#ff0000;} */

tr:hover            { background-color: #ffff99;}

/* search bar */
.active-blue-2 input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-blue input[type=text] {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}

/*Floating Back-To-Top Button*/
#upBtn {
  position: fixed;
  bottom: 20px;
  right: 75px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

#upBtn:hover {
  background-color: #377ba8;
}

/*Floating Go-To-Bottom Button*/
#downBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

#downBtn:hover {
  background-color: #377ba8;
}