<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Albums</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <nav class="navbar sticky-top navbar-light bg-light">
        <!-- <div class="container-fluid"> -->
        <h1 class="mb-2">Lauren and Matthew's Photo Site</h1>
        <!-- </div> -->
        </nav>

        <p></p>
        <div class="container">
            <h4 class="mb-2">Welcome to our Wedding Weekend</h4>
            <h5 class="mb-4">Please view and share your photos here</h5>

            {% for folder in photos.keys() %}
            <div class="mb-3">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ folder }}-options" aria-expanded="false" aria-controls="{{ folder }}-options">
                    {% if folder == 'BCN' %}
                        {{ folder }}
                    {% else %}
                        {{ folder.capitalize() }}
                    {% endif %}
                </button>
                <div class="collapse" id="{{ folder }}-options">
                    <div class="card card-body mt-3">
                        {% if folder == 'reception' %}
                        <div class="alert alert-warning" role="alert">
                            We ask you to please refrain from photos during the ceremony.
                        </div>
                        {% elif folder == 'BCN' %}
                        <div class="alert alert-primary" role="alert">
                            You can place here any photos you would like to share from before or after the wedding.
                        </div>
                        {% endif %}
                        <!-- Old way to upload sans progress bar -->
                        <!-- <form action="/upload/{{ folder }}" method="post" enctype="multipart/form-data" class="mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="photo" id="customFile{{ folder }}" onchange="fileSelected('customFile{{ folder }}', 'labelFor{{ folder }}', 'uploadButton{{ folder }}')">
                                <label class="custom-file-label" for="customFile{{ folder }}" id="labelFor{{ folder }}">Choose file</label>
                            </div>
                            {% if folder == 'BCN' %}
                            <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder }}</button>
                            {% else %}
                            <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder.capitalize() }}</button>
                            {% endif %}
                        </form> -->

                        <!-- Form for multiple file uploads -->
                        <form id="uploadForm{{ folder }}" action="/upload/{{ folder }}" method="post" enctype="multipart/form-data" class="mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="photos" id="customFile{{ folder }}" multiple onchange="fileSelected('customFile{{ folder }}', 'labelFor{{ folder }}', 'uploadButton{{ folder }}')">
                                <label class="custom-file-label" for="customFile{{ folder }}" id="labelFor{{ folder }}">Choose files</label>
                            </div>
                            {% if folder == 'BCN' %}
                                <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder }}</button>
                            {% else %}
                                <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder.capitalize() }}</button>
                            {% endif %}
                        </form>

                        <!-- Progress Bar -->
                        <div class="progress mb-2" style="display: none;">
                            <div id="progressBar{{ folder }}" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <!-- view album instead -->
                        <button onclick="window.location.href='/view_album/{{ folder }}'" class="btn btn-primary btn-sm">View Album</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- singular version -->
    <!-- <script>
        // Function to enable the upload button and display the filename
        function fileSelected(fileInputId, labelId, uploadButtonId) {
            const fileInput = document.getElementById(fileInputId);
            const label = document.getElementById(labelId);
            const uploadButton = document.getElementById(uploadButtonId);
            
            if (fileInput.files.length > 0) {
                label.textContent = fileInput.files[0].name; // Display the selected file name
                uploadButton.disabled = false; // Enable the upload button
                uploadButton.classList.remove('btn-success');
                uploadButton.classList.add('btn-success'); // Make sure the button is green
            } else {
                uploadButton.disabled = true; // Keep the upload button disabled if no file is selected
            }
        }
    </script> -->

    <!-- batch version -->
    <script>
        function fileSelected(fileInputId, labelId, uploadButtonId) {
            const fileInput = document.getElementById(fileInputId);
            const label = document.getElementById(labelId);
            const uploadButton = document.getElementById(uploadButtonId);
    
            if (fileInput.files.length > 0) {
                label.textContent = fileInput.files.length + ' file(s) selected'; // Update to show number of files
                uploadButton.disabled = false;
            } else {
                label.textContent = "Choose files";
                uploadButton.disabled = true;
            }
        }
        </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- upload progress bar -->
    <script>
        function uploadFile(folder) {
            var form = document.getElementById('uploadForm' + folder);
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            var progressBar = document.getElementById('progressBar' + folder);
            progressBar.closest('.progress').style.display = 'block'; // Show the progress bar
        
            xhr.open('POST', form.action, true);
        
            xhr.upload.onprogress = function(e) {
                if (e.lengthComputable) {
                    var percentComplete = Math.round((e.loaded / e.total) * 100);
                    progressBar.style.width = percentComplete + '%';
                    progressBar.setAttribute('aria-valuenow', percentComplete);
                    progressBar.innerHTML = percentComplete + '%'; // Display percentage on the bar for visual feedback
                }
            };
        
            xhr.onload = function() {
                if (xhr.status == 200) {
                    progressBar.style.width = '100%';
                    alert('Upload complete!');
                    window.location.reload();
                } else {
                    alert('Upload failed. Server responded with status: ' + xhr.status);
                }
                progressBar.closest('.progress').style.display = 'none'; // Hide the progress bar after upload
            };
        
            xhr.onerror = function() {
                alert('An error occurred during the upload.');
                progressBar.closest('.progress').style.display = 'none';
            };
        
            xhr.send(formData);
        }
        
        document.querySelectorAll('[id^="uploadForm"]').forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                var folder = this.id.replace('uploadForm', '');
                uploadFile(folder);
            });
        });
        </script>
        
        
</body>
</html>
