<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Albums</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <nav class="navbar sticky-top navbar-light bg-light">
        <!-- <div class="container-fluid"> -->
        <h1 class="mb-2">Lauren and Matthew's Photo Site</h1>
        <!-- </div> -->
        </nav>

        <p></p>
        <div class="container">
            <h4 class="mb-2">Welcome to our Wedding Weekend</h4>
            <h5 class="mb-4">Please view and share your photos here</h5>

            {% for folder in photos.keys() %}
            <div class="mb-3">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ folder }}-options" aria-expanded="false" aria-controls="{{ folder }}-options">
                    {% if folder == 'BCN' %}
                        {{ folder }}
                    {% else %}
                        {{ folder.capitalize() }}
                    {% endif %}
                </button>
                <div class="collapse" id="{{ folder }}-options">
                    <div class="card card-body mt-3">
                        {% if folder == 'reception' %}
                        <div class="alert alert-warning" role="alert">
                            We ask you to please refrain from photos during the ceremony.
                        </div>
                        {% elif folder == 'BCN' %}
                        <div class="alert alert-primary" role="alert">
                            You can place here any photos you would like to share from before or after the wedding.
                        </div>
                        {% endif %}
                        <form action="/upload/{{ folder }}" method="post" enctype="multipart/form-data" class="mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="photo" id="customFile{{ folder }}" onchange="fileSelected('customFile{{ folder }}', 'labelFor{{ folder }}', 'uploadButton{{ folder }}')">
                                <label class="custom-file-label" for="customFile{{ folder }}" id="labelFor{{ folder }}">Choose file</label>
                            </div>
                            {% if folder == 'BCN' %}
                            <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder }}</button>
                            {% else %}
                            <button type="submit" id="uploadButton{{ folder }}" class="btn btn-success mt-2" disabled>Upload to {{ folder.capitalize() }}</button>
                            {% endif %}
                        </form>
                        <button onclick="window.location.href='/view_album/{{ folder }}'" class="btn btn-primary btn-sm">View Album</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // Function to enable the upload button and display the filename
        function fileSelected(fileInputId, labelId, uploadButtonId) {
            const fileInput = document.getElementById(fileInputId);
            const label = document.getElementById(labelId);
            const uploadButton = document.getElementById(uploadButtonId);
            
            if (fileInput.files.length > 0) {
                label.textContent = fileInput.files[0].name; // Display the selected file name
                uploadButton.disabled = false; // Enable the upload button
                uploadButton.classList.remove('btn-success');
                uploadButton.classList.add('btn-success'); // Make sure the button is green
            } else {
                uploadButton.disabled = true; // Keep the upload button disabled if no file is selected
            }
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
